<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Server=118.190.150.67;Initial Catalog=WeChatServiceFlatform;User ID=guest;Password=zDM2018#._.#!!!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>